<div class="row mb-4">
    <div class="col-sm-8">
        <h3><%= @community.name %></h3>
    </div>
    <div class="col-sm-4">
        <%= link_to "Create New Post", new_community_post_path(@community),  class: "btn btn-primary float-right"%>
    </div>
</div>


<div class="row">
    <div class="col-sm-8">
        <%= render partial: "posts/list", locals: { posts: @posts } %>
    </div>
    <div class="col-sm-4">
        <div class="card p-3">
        <p class="h5">About this community</p>
            <p class="mt-2"><%= @community.summary %></p>
        </div>
        <p><%= pluralize @subscriber_count, "member" %> </p>
        <small>
            <%= simple_format @community.rules %>
        </small> 
    </div>
</div>
